.btn{
  background-color: transparent;
  border: var(--base-border) solid var(--base-border-width);
  border-radius: var(--base-border-radius);
  padding: var(--btn-padding-Top) var(--btn-padding-Right) var(--btn-padding-Bottom) var(--btn-padding-Left);
}