.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-bg);
  color: var(--btn-colour);
  box-shadow: 0 1px 3px 0px rgba(#0f0f0f, 0.5), inset 0 1px rgba(#fff, 0.2);
  border: none;

  border-radius: var(--btn-radius);
  cursor: pointer;
  container-type: inline-size;
  &-control {
    width: 33.33%;
    aspect-ratio: 1 / 1;
    /* Track the container's inline (width) size */

    .icon {
      color: var(--black);
      font-size: 80cqw;

      &:active {
        color: #000;
      }
    }
  }

  &-changeStation {
    width: 10%;
    aspect-ratio: 3 / 1;
    font-size: 3cqw;
    font-weight: 700;
  }
}
