.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--btn-radius);
  padding: var(--sp-0) var(--sp-0) var(--sp-0) var(--sp-0);
  width: 50px;
  height: 50px;
  background: linear-gradient(#737373, #333333);
  background-size: auto 150%;
  background-position: 0 100%;
  color: var(--btn-colour);
  border: 1px solid #1F1F1F;
  box-shadow: 0 1px 3px 0px rgba(#0F0F0F, .5),
    inset 0 1px rgba(#FFF, .2);
  .icon{
    display: block;
    width: 30px;
    height: 30px;
    svg{
      width: 100%;
      height: auto;
    }
  }
  &:active {
    color: #000;
    background-position: 0 50%;
    background: #333333;
    box-shadow: inset 0 2px 3px rgba(var(--black), .5), 0 1px 1px rgba( var(--white), .1);
    
    span:before {
      color: #111;
      text-shadow: 0 1px rgba(white, .1);
    }
  }
}