

.btn{
  background-color: transparent;
  border: var(--base-border) solid var(--base-border-width);
  border-radius: var(--base-border-radius);
  padding: var(--sp-0) var(--sp-0) var(--sp-0) var(--sp-0);
}