.radio {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  // width: 600px;
  aspect-ratio: 3.5/1;
  // border: 1px solid black;
  // margin: 20px;
  background-color: var(--black);
  &_info {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &_name {
    width: 75%;
    font-size: 55px;
    line-height: 0;
    color: var(--displayFontColour);
    background-color: var(--displayBG);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_controls {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    gap: 15px;
    width: 25%;
    padding: var(--sp-0);
    align-items: center;
    justify-content: center;
   
  }
  &_stations {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
    width: 50px;
    height: 50px;
  }
  // hide the radio player and browser controls
  &_player {
    display: none;
  }
}
