.radio{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 500px;
  aspect-ratio: 3.5/1;
  border: 1px solid black;
  margin: 20px;
  background-color: var(--black);
  &_info{
    background-color: var(--displayBG);
    width: 75%;
    height: 50px;
    position: relative;
  }

  &_name{
    position: absolute;
    top: 10px;
    right: 5px;
    left: 5px;
    font-size: 55px;
    line-height: .5;
    z-index: 10;
    color: var(--displayFontColour)
  }
  &_controls{
    display: flex;
    flex-flow: row;
    gap: 15px;
    width: 75px;
    padding: var(--sp-0);
  }
  &_stations{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
    width: 50px;
    height: 50px;
  }
}