@use 'root';
@use 'reset';

@use 'icons';
@use 'buttons';
@use 'player';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


// retro LED font
.displayFont{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

}